/* Bordered form */
form{
    border: 3px solid #f1f1f1;
}
/* Full-width input */
 input[type=password], input[type=email] 
{
    width: 600%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for Login button */
button{
    background-color:  rgb(110, 178, 226);
    color: white;
    padding: 16px 20px ;
    margin: 8px 0;
    border: none;
    width: 50%;
    font-size:larger;
    border-radius: 24px;
    height: auto;
    cursor: pointer;
    text-decoration: none;
}
/* Add a hover effect for buttons */
button:hover{
    opacity:0.8
}
/* Extra style for the cancel button (red) */
.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color:white;
    border-radius: 24px;
    border: 1px solid rgb(8, 8, 32);
    text-decoration: none;
    background-color: aliceblue;


}
/* Add padding to containers */
.container{
    padding: 16px;
}
/* The "forgot password" text */
span.psw {
    float: right;
    padding-top: 20px;
}
.cancelbtn{
    width: 20%;
    padding: 10px;
    font-size: medium;
}


